In [2]:
import pandas as pd
import numpy as np
from sklearn.ensemble import VotingClassifier

In [3]:
dataset = pd.read_csv('D:\Developments\Riset Pribadi\Ensamble Learning\Dataset Voting\glass\glass.csv')
dataset

          RI     Na    Mg    Al     Si     K    Ca    Ba   Fe  label
0    1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0      1
1    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0      1
2    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0      1
3    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0      1
4    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0      1
..       ...    ...   ...   ...    ...   ...   ...   ...  ...    ...
209  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0      7
210  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0      7
211  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0      7
212  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0      7
213  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0      7

[214 rows x 10 columns]

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RI      214 non-null    float64
 1   Na      214 non-null    float64
 2   Mg      214 non-null    float64
 3   Al      214 non-null    float64
 4   Si      214 non-null    float64
 5   K       214 non-null    float64
 6   Ca      214 non-null    float64
 7   Ba      214 non-null    float64
 8   Fe      214 non-null    float64
 9   label   214 non-null    int64
dtypes: float64(9), int64(1)
memory usage: 16.8 KB

In [5]:
dataset['label'].dtype

dtype('int64')

In [6]:
dataset.describe()

,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,label
count,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000
mean,1.518365,13.407850,2.684533,1.444907,72.650935,0.497056,8.956963,0.175047,0.057009,2.780374
std,0.003037,0.816604,1.442408,0.499270,0.774546,0.652192,1.423153,0.497219,0.097439,2.103739
min,1.511150,10.730000,0.000000,0.290000,69.810000,0.000000,5.430000,0.000000,0.000000,1.000000
25%,1.516522,12.907500,2.115000,1.190000,72.280000,0.122500,8.240000,0.000000,0.000000,1.000000
50%,1.517680,13.300000,3.480000,1.360000,72.790000,0.555000,8.600000,0.000000,0.000000,2.000000
75%,1.519157,13.825000,3.600000,1.630000,73.087500,0.610000,9.172500,0.000000,0.100000,3.000000
max,1.533930,17.380000,4.490000,3.500000,75.410000,6.210000,16.190000,3.150000,0.510000,7.000000

In [7]:
dataset['label'].unique()

array([1, 2, 3, 5, 6, 7], dtype=int64)

# Percobaan Classifier yang akan digunakan

In [8]:
from sklearn.ensemble import RandomForestClassifier,VotingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
import matplotlib.pyplot as plt
import seaborn as sns

Splitting Data

In [10]:
x = dataset.iloc[:,0:7]
y = dataset['label']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size= 0.2, random_state=42 )

Modeling

In [11]:
classifiers=[['Naive Bayes :', GaussianNB()], ['DecisionTree :',DecisionTreeClassifier()], ['svm:' ,SVC(kernel="linear", probability=True)], ['rnd :', RandomForestClassifier(n_estimators=100, n_jobs=-1)], ['knn :', KNeighborsClassifier(n_neighbors=5)]]
predictions_df = pd.DataFrame()
predictions_df['action'] = y_test

In [12]:
for name,classifier in classifiers:
    classifier = classifier
    classifier.fit(x_train, y_train.ravel())
    predictions = classifier.predict(x_test)
    predictions_df[name.strip(":")] = predictions
    print(name, accuracy_score(y_test, predictions))

C:\Users\-MSI-\AppData\Local\Temp\ipykernel_11192\269592543.py:3: FutureWarning: Series.ravel is deprecated. The underlying array is already 1D, so ravel is not necessary.  Use `to_numpy()` for conversion to a numpy array instead.
  classifier.fit(x_train, y_train.ravel())
C:\Users\-MSI-\AppData\Local\Temp\ipykernel_11192\269592543.py:3: FutureWarning: Series.ravel is deprecated. The underlying array is already 1D, so ravel is not necessary.  Use `to_numpy()` for conversion to a numpy array instead.
  classifier.fit(x_train, y_train.ravel())
C:\Users\-MSI-\AppData\Local\Temp\ipykernel_11192\269592543.py:3: FutureWarning: Series.ravel is deprecated. The underlying array is already 1D, so ravel is not necessary.  Use `to_numpy()` for conversion to a numpy array instead.
  classifier.fit(x_train, y_train.ravel())
C:\Users\-MSI-\AppData\Local\Temp\ipykernel_11192\269592543.py:3: FutureWarning: Series.ravel is deprecated. The underlying array is already 1D, so ravel is not necessary.  Use `to_numpy()` for conversion to a numpy array instead.
  classifier.fit(x_train, y_train.ravel())

Naive Bayes : 0.4186046511627907
DecisionTree : 0.6976744186046512
svm: 0.6744186046511628
rnd : 0.8372093023255814
knn : 0.6511627906976745

C:\Users\-MSI-\AppData\Local\Temp\ipykernel_11192\269592543.py:3: FutureWarning: Series.ravel is deprecated. The underlying array is already 1D, so ravel is not necessary.  Use `to_numpy()` for conversion to a numpy array instead.
  classifier.fit(x_train, y_train.ravel())

In [14]:
# Voting Classifier with hard voting
vot_hard = VotingClassifier(estimators = classifiers, voting ='hard')
vot_hard.fit(x_train, y_train)
y_pred = vot_hard.predict(x_test)

# using accuracy_score metric to predict accuracy
score = accuracy_score(y_test, y_pred)
print(f"Hard Voting Score: {score} ")

Hard Voting Score: 0.7441860465116279

In [15]:
# Voting Classifier with hard voting
vot_hard = VotingClassifier(estimators = classifiers, voting ='soft')
vot_hard.fit(x_train, y_train)
y_pred = vot_hard.predict(x_test)

# using accuracy_score metric to predict accuracy
score = accuracy_score(y_test, y_pred)
print(f"Hard Voting Score: {score} ")

Hard Voting Score: 0.7209302325581395

Menggunakan Teknik Ensamble Learning : Voting

In [47]:
from sklearn.ensemble import VotingClassifier